.faq_header{
    font-family: 'Playfair Display', serif;

}
.article_header::after{
    content: '';
    position: absolute;
    left: 0;
    border-bottom: 2px solid ;
    width: 8%;
    height: 40px;
    color: #ff3a6f;
   
}
.article_header{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
