.footer-text{
    width: 45%;
    text-align: end;
    height: 78vh;
    
}
.footer-container{
    background-image: url('../../../Images/footer_img.PNG');
    height: 90vh;
    margin-top: 15vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
 
}
@media (max-width:768px) {
    .footer-text{
        width: 85%;
        text-align: center;
        height: 78vh;
        
    }
}