@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.85714285714286;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.elementor-shape-fill {
    fill: #fff; 
   -webkit-transform-origin: center;
   -ms-transform-origin: center;
   transform-origin: center;
   -webkit-transform: rotateY(0deg);
   transform: rotateY(0deg);
   position: relative;
   z-index: 11;
}